@using Sitecore
@using Sitecore.Data
@using Sitecore.Data.Fields
@using Sitecore.Mvc
@using Sitecore.Data.Items
@using Sitecore.Mvc.Presentation
@using DummyWebsite

@{ 
    Database currentDb = Sitecore.Context.Database;

    //Get the current value of datasource
    string dataSource = RenderingContext.Current.Rendering.DataSource;

    Item currentItem = currentDb.GetItem(dataSource);

}


<div class="transportaion_area">
    <div class="container">
        <div class="row">
            @foreach (Item childItem in currentItem.GetChildren())
            {
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single_transport">
                        <div class="icon">
                            @Html.Sitecore().Field(Templates.FeaturedItem.Fields.FeatureIcon_FieldName, childItem)
                        </div>
                        <h3>@Html.Sitecore().Field(Templates.FeaturedItem.Fields.Title_FieldName, childItem)</h3>
                        <p>
                            @Html.Sitecore().Field(Templates.FeaturedItem.Fields.Description_FieldName, childItem)
                        </p>
                    </div>
                </div>

            }

        </div>
    </div>
</div>
