@using Sitecore
@using Sitecore.Mvc
@using Sitecore.Data
@using Sitecore.Data.Items
@using DummyWebsite

@model  List<Item>


    @if(Model == null || Model.Count <= 0)
    {
        return;
    }
<div class="row">
    <div class="col-xl-3 col-md-6 col-lg-3">
        <div class="footer_widget">
            <h3 class="footer_title">
                Services
            </h3>
            <ul>
                <li><a href="#">Air Transportation</a></li>
                <li><a href="#">Ocean Freight</a></li>
                <li><a href="#">Ocean Cargo</a></li>
                <li><a href="#">Logistics</a></li>
                <li><a href="#">Warehouse Moving</a></li>
            </ul>

        </div>
    </div>
    <div class="col-xl-2 col-md-6 col-lg-2">
        <div class="footer_widget">
            <h3 class="footer_title">
                Company
            </h3>
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#"> Testimonials</a></li>
                <li><a href="#"> Why Us?</a></li>
            </ul>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 col-lg-3">
        <div class="footer_widget">
            <h3 class="footer_title">
                Industries
            </h3>
            <ul>
                <li><a href="#">Chemicals</a></li>
                <li><a href="#">Automotive</a></li>
                <li><a href="#"> Consumer Goods</a></li>
                <li><a href="#">Life Science</a></li>
                <li><a href="#">Foreign Trade</a></li>
            </ul>
        </div>
    </div>
    <div class="col-xl-4 col-md-6 col-lg-4">
        <div class="footer_widget">
            <h3 class="footer_title">
                Subscribe
            </h3>
            <form action="#" class="newsletter_form">
                <input type="text" placeholder="Enter your mail">
                <button type="submit">Subscribe</button>
            </form>
            <p class="newsletter_text">
                Esteem spirit temper too say adieus who direct esteem esteems
                luckily.
            </p>
        </div>
    </div>
</div>
