  @using Sitecore
@using Sitecore.Data
@using Sitecore.Data.Items
@using Sitecore.Mvc.Presentation
@using DummyWebsite

@{ 
    Database currentDb = Sitecore.Context.Database;

    string datasource = RenderingContext.Current.Rendering.DataSource;
    //get the datasource

    Item item = currentDb.GetItem(datasource);
}

  <!-- service_details_start  -->
<div class="service_details_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="service_details_left">
                    <h3>Services</h3>
                    <div class="nav nav-pills" id="v-pills-tab" role="tablist"
                         aria-orientation="vertical">
                        <a class=" active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"
                           role="tab" aria-controls="v-pills-home" aria-selected="true">Ocean Freight</a>
                        <a class="" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile"
                           role="tab" aria-controls="v-pills-profile" aria-selected="false">Land Transport</a>
                        <a class="" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages"
                           role="tab" aria-controls="v-pills-messages" aria-selected="false">Air Freight</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                 @Html.Sitecore().Placeholder("ServicesDescription")
            </div>
        </div>
    </div>
</div>
<!-- service_details_start  -->